.container,.row,.col-6 h3{
    font-size: 30px;
    font-weight: bold;
    color: black;
    
    margin-bottom: 10px;
}
.container,.row,.col-6 p{
    color: black;
    font-size: 15px;
    margin-bottom: 15px;
}
.container,.row,.col-6 img{
width: 950px;
margin-top: 40px;

}

.contact-info ,.content h5 {
    font-size: 15px;
    font-weight: bold;
    color: white;
}



   

