.start{
    background-image: url("img/florist-counting-bouquet-price-2021-08-26-19-52-50-utc-1.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 400px;
}
.start h3{
    display: flex;
    justify-content: center;
   padding-top: 250px;
   font-size: 30px;
   font-weight: bold;
   color: white;
}

.table-head,.table-list li{
margin-left: 0px;
color: black;
font-size: 16px;
}

.section-title{
margin-top: 60px;
margin-bottom: -5px;

}

.section-title p{
    color: black;
}
.row,.table-list h5{
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.row,.table-list li{
    color: black;
    
}
