.Start{
    background-image: url("img/Our-Service-q8vdokygsf33flt5lbrslq86xvz98pykac93ftai3c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 300px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.Start h3{
    color: black;
    display: flex;
    justify-content: center;
   padding-top: 150px;
   font-size: 30px;
   font-weight: bold;
   color:black;
}
.container .blue{
    background-color: rgb(79, 79, 181);
    padding: 15px 70px;
    font-size: 20px;
    font-weight: bold;
}

.container .orange{
    background-color:orange;
    padding: 15px 75px;
    font-size: 20px;
    font-weight: bold;
}
.back,.row,.col-4 a img{
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}



.next h1{
    padding-left:280px ;
   
}

.row{
    margin-bottom: 40px;
    margin-top: 40px;
}
.back p{
    font-size: 22px;
    padding-left: 38px;
    background-color: rgb(91, 91, 179);
    color: white;
}

